* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a191f;
    font-family: "Open sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__content {
    text-align: center;
    padding: 36px;
    height: 60px;
}

.header__logo {
    font-size: 32px;
    text-decoration: none;
    color: #ffffff;
}

.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-info__cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    padding: 30px;
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.game-info__details {
    width: 80%;
    padding: 30px;
}

#gameTitle {
    text-align: center;
    color: white;
    font-size: 25px;
}

#gameDescription {
    color: #7c7c7f;
    font-size: 15px;
    padding-top: 30px;
}


@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
    .header__logo {
        font-size: 22px;
    }

    .header__search {
        text-align: center;
        width: 200px;
    }

    img {
        width: 300px;
        height: 500px;
    }


}

@media only screen and (max-width : 480px) {
    .header__logo {
        font-size: 22px;
    }


    .game-info {
        flex-direction: column;
    }

    img {
        width: 150px;
        height: 300px;
    }
     #gameTitle {
         font-size: 15px;
     }

    #gameDescription {
        font-size: 10px;
    }
    }